body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    color: midnightblue;
}
form {
    margin: auto;
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 600px;
}
fieldset {
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}
legend {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: darkred;
}
label {
    display: block;
    margin-top: 10px;
    color: black;
    font-weight: bold;
}
input,textarea {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    display: block;
    width: 100%;
    background-color: slateblue;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
    cursor: pointer;
}
button :hover {
    background-color: lightsalmon;
}
#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: wheat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    outline: none;
}
#resume-display h2 {
    color: midnightblue;
}